@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'PlayfairDisplayItalic';
    src: url('/public/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/public/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/public/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.lato {
    font-family: 'Lato', sans-serif;
}

label,
input,
button,
a,
p {
    font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.nav-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-border {
    border-radius: 100% 0% 100% 0% / 0% 84% 16% 100%;
}

.form-shadow {
    box-shadow:
        rgba(255, 255, 255, 0.4) 0px 1px 1px inset,
        rgba(255, 255, 255, 0.2) 0px 4px 8px inset,
        rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px,
        rgba(255, 255, 255, 0.1) 0px 0px 20px 5px;
}

.input-shadow {
    box-shadow:
        rgba(255, 255, 255, 0.5) 0px 1px 1px inset,
        rgba(255, 255, 255, 0.25) 0px 2px 6px inset,
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px,
        rgba(255, 255, 255, 0.25) 0px 0px 18px 4px;
}

.icons {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-mask: var(--svg) no-repeat center;
    mask: var(--svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span.icon {
    display: inline-block;
    width: var(--size);
    height: var(--size);
    -webkit-mask: var(--svg) no-repeat center;
    mask: var(--svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}